// Helper Utilities
// –––––––––––––––––––––––––––––––––––––––
  // Padding
  // –––––––––––––––––––––––––––––––––––––––
  .pr0 { padding-right: 0; }
  .pl0 { padding-left: 0; }
  .ph0 { @extend .pr0; @extend .pl0; }
  .pt0 { padding-top: 0; }
  .pb0 { padding-bottom: 0; }
  .pv0 { @extend .pt0; @extend .pb0; }
  .pa0 { @extend .ph0; @extend .pv0; }

  .prs { padding-right: $baseFontSize/2; }
  .pls { padding-left: $baseFontSize/2; }
  .phs { @extend .prs; @extend .pls; }
  .pts { padding-top: $baseFontSize/2; }
  .pbs { padding-bottom: $baseFontSize/2; }
  .pvs { @extend .pts; @extend .pbs; }
  .pas { @extend .phs; @extend .pvs; }

  .prm { padding-right: $baseFontSize; }
  .plm { padding-left: $baseFontSize; }
  .phm { @extend .prm; @extend .plm; }
  .ptm { padding-top: $baseFontSize; }
  .pbm { padding-bottom: $baseFontSize; }
  .pvm { @extend .ptm; @extend .pbm; }
  .pam { @extend .phm; @extend .pvm; }

  .prl { padding-right: $baseFontSize*2; }
  .pll { padding-left: $baseFontSize*2; }
  .phl { @extend .prl; @extend .pll; }
  .ptl { padding-top: $baseFontSize*2; }
  .pbl { padding-bottom: $baseFontSize*2; }
  .pvl { @extend .ptl; @extend .pbl; }
  .pal { @extend .phl; @extend .pvl; }

  .prxl { padding-right: $baseFontSize*4; }
  .plxl { padding-left: $baseFontSize*4; }
  .phxl { @extend .prxl; @extend .plxl; }
  .ptxl { padding-top: $baseFontSize*4; }
  .pbxl { padding-bottom: $baseFontSize*4; }
  .pvxl { @extend .ptxl; @extend .pbxl; }
  .paxl { @extend .phxl; @extend .pvxl; }

  // Margins
  // –––––––––––––––––––––––––––––––––––––––
  .mr0 { margin-right: 0; }
  .ml0 { margin-left: 0; }
  .mh0 { @extend .mr0; @extend .ml0; }
  .mt0 { margin-top: 0; }
  .mb0 { margin-bottom: 0; }
  .mv0 { @extend .mt0; @extend .mb0; }
  .ma0 { @extend .mh0; @extend .mv0; }

  .mrs { margin-right: $baseFontSize/2; }
  .mls { margin-left: $baseFontSize/2; }
  .mhs { @extend .mrs; @extend .mls; }
  .mts { margin-top: $baseFontSize/2; }
  .mbs { margin-bottom: $baseFontSize/2; }
  .mvs { @extend .mts; @extend .mbs; }
  .mas { @extend .mhs; @extend .mvs; }

  .mrm { margin-right: $baseFontSize; }
  .mlm { margin-left: $baseFontSize; }
  .mhm { @extend .mrm; @extend .mlm; }
  .mtm { margin-top: $baseFontSize; }
  .mbm { margin-bottom: $baseFontSize; }
  .mvm { @extend .mtm; @extend .mbm; }
  .mam { @extend .mhm; @extend .mvm; }

  .mrl { margin-right: $baseFontSize*2; }
  .mll { margin-left: $baseFontSize*2; }
  .mhl { @extend .mrl; @extend .mll; }
  .mtl { margin-top: $baseFontSize*2; }
  .mbl { margin-bottom: $baseFontSize*2; }
  .mvl { @extend .mtl; @extend .mbl; }
  .mal { @extend .mhl; @extend .mvl; }

  .mrxl { margin-right: $baseFontSize*4; }
  .mlxl { margin-left: $baseFontSize*4; }
  .mhxl { @extend .mrxl; @extend .mlxl; }
  .mtxl { margin-top: $baseFontSize*4; }
  .mbxl { margin-bottom: $baseFontSize*4; }
  .mvxl { @extend .mtxl; @extend .mbxl; }
  .maxl { @extend .mhxl; @extend .mvxl; }
