// Variables
// –––––––––––––––––––––––––––––––––––––––
  // Colors
  // –––––––––––––––––––––––––––––––––––––––
    $bldgray:           #5a5a5a;
    $cream:             #f9f7ed;
    $burnt:             #e56635;

  // Typography
  // –––––––––––––––––––––––––––––––––––––––
    $baseFontSize:      16px;
    $baseLineHeight:    1.5em;
